doctype html
html(lang="en")
      head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Guide of Dawn 
      body.bg-gray-900
            .relative.bg-gray-700.shadow
                  .container.px-4.py-3.mx-auto
                        .flex.flex-col
                              .flex.items-center.justify-between
                                    .flex.items-center
                                          a(href='#')
                                                h1.text-3xl.border-green-400.pt-2.weight.font-bold.text-white GoD
                                    mx-10(class="ms-8 w-full me-6 md:block").hidden
                                          .relative
                                                span.absolute.inset-y-0.left-0.flex.items-center.pl-3
                                                      svg.w-4.h-4.text-white(viewbox='0 0 24 24' fill='none')
                                                            path(d='M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round') 
                                                input.w-full.py-2.pl-10.pr-6.text-white.bg-gray-600.rounded-sm(type='text' class='focus:outline-none focus:shadow-lg focus:shadow-gray-600/40 placeholder-gray-100 text-sm' placeholder='Search')

                                    .flex
                                          .fas.fa-user.text-gray-700.text-xl.border-red-200.border.rounded-full.bg-gray-200(class="px-2 py-0.5")

                              mx-10(class="w-full mt-5 md:hidden")
                                    .relative
                                          span.absolute.inset-y-0.left-0.flex.items-center.pl-3
                                                svg.w-4.h-4.text-white(viewbox='0 0 24 24' fill='none')
                                                      path(d='M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round') 
                                          input.w-full.py-2.pl-10.pr-6.text-white.bg-gray-600.rounded-sm(type='text' class='focus:outline-none focus:shadow-md focus:shadow-gray-600/40 placeholder-gray-100 text-sm' placeholder='Search')
                        .py-1.mt-4.overflow-none.whitespace-nowrap.scroll-hidden.-mx-3(class="md:ms-24")
                              a(class="mx-4 text-sm leading-5 text-white transition-colors duration-300 transform hover:text-white md:my-0" href="#") Home
                              a(class="mx-4 text-sm leading-5 text-gray-400 transition-colors duration-300 transform hover:text-white md:my-0" href="#") Heroes
                              a(class="mx-4 text-sm leading-5 text-gray-400 transition-colors duration-300 transform hover:text-white md:my-0" href="#") Items
                        
            section 
                  // Container
                  div(class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20")
                        // Title
                        div(class="flex flex-col items-center text-center")
                              h2(class="text-3xl font-bold text-white") Recent Patch Updates
                              p(class="mb-8 mt-4 max-w-xl text-gray-200") 
                                    | v1.9.20 (2024-10-03)
                              h3(class="text-2xl font-bold text-white") Heroes
                              p(class="mb-8 mt-4 text-gray-200") 
                                    | Zhuxin (~), Chip (~), Nolan (↑), Arlott (↑), Terizla (↑), Hayabusa (↓), Hylos (↓), Roger (↓)
                        div(class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6")
                              div(class="grid gap-6 rounded-md bg-gray-700 p-8 md:p-10 shadow-lg")
                                    img(class="inline-block h-16 w-16 object-cover rounded-full", src="http://akmweb.youngjoygame.com/web/madmin/image/2daca928703774862b329074220fe7cd.png?w=200-200-23181c", alt="")
                                    h3(class="text-xl font-semibold text-white") Chip (~)
                                    p(class="text-sm text-gray-500 text-gray-200") 
                                          | Increased Chip effectiveness in teamfights while significantly reducing his support capabilities
                                    ul
                                          li
                                                p.text-md.text-white.font-semibold Ultimate
                                                p.text-sm.text-gray-200 Extra Effect after Delay: 50% Slow Effect >> Immobilizing Effect
                              div(class="grid gap-6 rounded-md bg-gray-700 p-8 md:p-10 shadow-lg")
                                    img(class="inline-block h-16 w-16 object-cover rounded-full", src="http://akmweb.youngjoygame.com/web/madmin/image/2daca928703774862b329074220fe7cd.png?w=200-200-23181c", alt="")
                                    h3(class="text-xl font-semibold text-white") Chip (~)
                                    p(class="text-sm text-gray-500 text-gray-200") 
                                          | Increased Chip effectiveness in teamfights while significantly reducing his support capabilities
                                    ul
                                          li
                                                p.text-md.text-white.font-semibold Ultimate
                                                p.text-sm.text-gray-200 Extra Effect after Delay: 50% Slow Effect >> Immobilizing Effect
                              div(class="grid gap-6 rounded-md bg-gray-700 p-8 md:p-10 shadow-lg")
                                    img(class="inline-block h-16 w-16 object-cover rounded-full", src="http://akmweb.youngjoygame.com/web/madmin/image/2daca928703774862b329074220fe7cd.png?w=200-200-23181c", alt="")
                                    h3(class="text-xl font-semibold text-white") Chip (~)
                                    p(class="text-sm text-gray-500 text-gray-200") 
                                          | Increased Chip effectiveness in teamfights while significantly reducing his support capabilities
                                    ul
                                          li
                                                p.text-md.text-white.font-semibold Ultimate
                                                p.text-sm.text-gray-200 Extra Effect after Delay: 50% Slow Effect >> Immobilizing Effect
                              div(class="grid gap-6 rounded-md bg-gray-700 p-8 md:p-10 shadow-lg")
                                    img(class="inline-block h-16 w-16 object-cover rounded-full", src="http://akmweb.youngjoygame.com/web/madmin/image/2daca928703774862b329074220fe7cd.png?w=200-200-23181c", alt="")
                                    h3(class="text-xl font-semibold text-white") Chip (~)
                                    p(class="text-sm text-gray-500 text-gray-200") 
                                          | Increased Chip effectiveness in teamfights while significantly reducing his support capabilities
                                    ul
                                          li 
                                                p.text-md.text-white Ultimate
                                                p.text-sm.text-gray-200 Extra Effect after Delay: 50% Slow Effect >> Immobilizing Effect
                              
            link(rel='stylesheet' href='/lib/fontawesome/css/all.min.css')
            link(rel="stylesheet", href="/css/tailwind.css")
            script(src="/js/toggle-theme.js", defer)
