doctype html
html(lang="en" class="dark")
      head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title Guide of Dawn 
            link(rel='stylesheet' href='/lib/fontawesome/css/all.min.css')
            link(rel="stylesheet" href="/css/tailwind.css")
      body
            .min-h-screen.bg-gray-900.flex.flex-col.items-center.justify-center
                  h1.text-5xl.text-white.font-bold.mb-8.animate-pulse
                        | In Development
                  p.text-white.text-lg.mb-8
                        | Something awesome is coming soon. Stay tuned!


                  //contact
                  .flex.items-center.justify-center.gap-3
                        a(href="https://discord.com/users/695852949775319150" class="hover:ease-in-out duration-300 transform hover:scale-110") 
                              i.fab.fa-discord.text-2xl.text-white.mr-4
                        a(href="https://github.com/nothua" class="hover:ease-in-out duration-300 transform hover:scale-110") 
                              i.fab.fa-github.text-2xl.text-white.mr-4
                        a(href="mailto:harutoakiyama20@gmail.com" class="hover:ease-in-out duration-300 transform hover:scale-110") 
                              i.fas.fa-envelope.text-2xl.text-white.mr-4
            script(src="/js/toggle-theme.js", defer)
